
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body {
    min-height: 100vh;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.footer {
    position: absolute;
    /* width: 100% !important; */
    left: 0;
    right: 0;
}

/* .card {
    height: 20vh !important;
} */